In [7]:
import numpy as np
import pandas as pd
np.random.seed(0)
df = pd.DataFrame(np.random.randint(0,10,size=(4, 6)), columns=list('ABCDEF'))

In [8]:
df

   A  B  C  D  E  F
0  5  0  3  3  7  9
1  3  5  2  4  7  6
2  8  8  1  6  7  7
3  8  1  5  9  8  9

In [12]:
df.iloc[-1].name

3

In [13]:
s = pd.Series(np.random.randint(0,6,size=6))

In [14]:
s

0    4
1    3
2    0
3    3
4    5
5    0
dtype: int64

In [29]:
df.loc[(df == 7).any(axis=1),:]

   A  B  C  D  E  F
0  5  0  3  3  7  9
1  3  5  2  4  7  6
2  8  8  1  6  7  7