In [2]:
import numpy as np
import pandas as pd
np.random.seed(0)
df = pd.DataFrame(np.random.randint(0,10,size=(4, 6)), columns=list('ABCDEF'))

In [8]:
df

   A  B  C  D  E  F
0  5  0  3  3  7  9
1  3  5  2  4  7  6
2  8  8  1  6  7  7
3  8  1  5  9  8  9

In [12]:
df.iloc[-1].name

3

In [13]:
s = pd.Series(np.random.randint(0,6,size=6))

In [14]:
s

0    4
1    3
2    0
3    3
4    5
5    0
dtype: int64

In [29]:
df.loc[(df == 7).any(axis=1),:]

   A  B  C  D  E  F
0  5  0  3  3  7  9
1  3  5  2  4  7  6
2  8  8  1  6  7  7

In [38]:
key_df = pd.DataFrame.from_dict({'phrase 1':[True, False], 'phrase 2':[]}, orient='index')

             0      1
phrase 1  True  False
phrase 2  True   True

In [40]:
key_df.index

Index(['phrase 1', 'phrase 2'], dtype='object')

In [31]:
key_df.iloc[0:0] = 0

In [32]:
key_df

Empty DataFrame
Columns: []
Index: [phrase]

In [41]:
key_list = ['Champlain', 'Depression']

In [42]:
phrase = 'Il faut rentrer a Montreal'

In [56]:
key_df = pd.DataFrame.from_dict({phrase:[True, True]}, orient='index', columns=key_list)

In [57]:
key_df

                            Champlain  Depression
Il faut rentrer a Montreal       True        True

In [58]:
new_key_list = ['Shawinigan', 'Chomage']

In [59]:
new_phrase = 'Apprend a tricoter'

In [60]:
key_df.loc[new_phrase] = False

In [61]:
key_df

                            Champlain  Depression
Il faut rentrer a Montreal       True        True
Apprend a tricoter              False       False

In [62]:
def add_column_if_missing(name, df):
    if not name in df.columns:
        df[name] = False

In [63]:
for key in new_key_list:                                                        
    add_column_if_missing(key, key_df)

In [64]:
key_df.loc[new_phrase, new_key_list] = True

In [65]:
key_df

                            Champlain  Depression  Shawinigan  Chomage
Il faut rentrer a Montreal       True        True       False    False
Apprend a tricoter              False       False        True     True

In [68]:
list(key_df.index.values)

['Il faut rentrer a Montreal', 'Apprend a tricoter']