In [258]:
import numpy as np
import pandas as pd
np.random.seed(0)
db = pd.DataFrame(np.random.randint(0,10,size=(4, 6)), columns=list('ABCDEF'))

In [259]:
db

   A  B  C  D  E  F
0  5  0  3  3  7  9
1  3  5  2  4  7  6
2  8  8  1  6  7  7
3  8  1  5  9  8  9

In [260]:
db.loc[4] = np.random.randint(0,10, size=6)

In [261]:
db.iloc[-1].name + 1

5

In [262]:
db.iloc[-1].name

4

In [263]:
s = pd.Series(np.random.randint(0,6,size=6))

In [264]:
s

0    2
1    3
2    0
3    1
4    3
5    5
dtype: int64

In [265]:
df.loc[(df == 7).any(axis=1),:]

   A  B  C  D  E  F
0  5  0  3  3  7  9
1  3  5  2  4  7  6
2  8  8  1  6  7  7

In [266]:
key_df = pd.DataFrame.from_dict({'phrase 1':[True, False], 'phrase 2':[]}, orient='index')

In [267]:
key_df.index

Index(['phrase 1', 'phrase 2'], dtype='object')

In [268]:
key_df.iloc[0:0] = 0

In [269]:
key_df

             0      1
phrase 1  True  False
phrase 2  None   None

In [270]:
key_list = ['Champlain', 'Depression']

In [271]:
phrase = 'Il faut rentrer a Montreal'

In [272]:
key_df = pd.DataFrame.from_dict({phrase:[True, True]}, orient='index', columns=key_list)

In [273]:
key_df

                            Champlain  Depression
Il faut rentrer a Montreal       True        True

In [274]:
new_key_list = ['Shawinigan', 'Chomage']

In [275]:
new_phrase = 'Apprend a tricoter'

In [276]:
key_df.loc[new_phrase] = False

In [277]:
key_df

                            Champlain  Depression
Il faut rentrer a Montreal       True        True
Apprend a tricoter              False       False

In [278]:
def add_column_if_missing(name, df):
    if not name in df.columns:
        df[name] = False

In [279]:
for key in new_key_list:                                                        
    add_column_if_missing(key, key_df)

In [280]:
key_df.loc[new_phrase, new_key_list] = True

In [281]:
key_df

                            Champlain  Depression  Shawinigan  Chomage
Il faut rentrer a Montreal       True        True       False    False
Apprend a tricoter              False       False        True     True

In [282]:
list(key_df.index.values)

['Il faut rentrer a Montreal', 'Apprend a tricoter']

In [283]:
key_df.index[key_df.index.str.startswith('I')]

Index(['Il faut rentrer a Montreal'], dtype='object')