In [1]:
import numpy as np
import pandas as pd
np.random.seed(0)
db = pd.DataFrame(np.random.randint(0,10,size=(4, 6)), columns=list('ABCDEF'))

In [2]:
db

   A  B  C  D  E  F
0  5  0  3  3  7  9
1  3  5  2  4  7  6
2  8  8  1  6  7  7
3  8  1  5  9  8  9

In [3]:
list(db.columns.values)

['A', 'B', 'C', 'D', 'E', 'F']

In [4]:
db.loc[4] = np.random.randint(0,10, size=6)

In [5]:
db.iloc[-1].name + 1

5

In [6]:
db.iloc[-1].name

4

In [7]:
s = pd.Series(np.random.randint(0,6,size=6))

In [8]:
s

0    2
1    3
2    0
3    1
4    3
5    5
dtype: int64

In [9]:
df.loc[(df == 7).any(axis=1),:]

NameError: name 'df' is not defined

In [10]:
key_df = pd.DataFrame.from_dict({'phrase 1':[True, False], 'phrase 2':[]}, orient='index')

In [11]:
key_df.index

Index(['phrase 1', 'phrase 2'], dtype='object')

In [12]:
key_df.iloc[0:0] = 0

In [13]:
key_df

             0      1
phrase 1  True  False
phrase 2  None   None

In [14]:
key_list = ['Champlain', 'Depression']

In [15]:
phrase = 'Il faut rentrer a Montreal'

In [16]:
key_df = pd.DataFrame.from_dict({phrase:[True, True]}, orient='index', columns=key_list)

In [17]:
key_df

                            Champlain  Depression
Il faut rentrer a Montreal       True        True

In [18]:
new_key_list = ['Shawinigan', 'Chomage']

In [19]:
new_phrase = 'Apprend a tricoter'

In [20]:
key_df.loc[new_phrase] = False

In [21]:
key_df

                            Champlain  Depression
Il faut rentrer a Montreal       True        True
Apprend a tricoter              False       False

In [22]:
def add_column_if_missing(name, df):
    if not name in df.columns:
        df[name] = False

In [23]:
for key in new_key_list:                                                        
    add_column_if_missing(key, key_df)

In [24]:
key_df.loc[new_phrase, new_key_list] = True

In [40]:
key_df

                            Champlain  Depression  Shawinigan  Chomage
Il Faut Rentrer A Montreal       True        True       False    False
Apprend A Tricoter              False       False        True     True

In [39]:
key_df.index = key_df.index.str.title()

In [26]:
list(key_df.index.values)

['Il faut rentrer a Montreal', 'Apprend a tricoter']

In [27]:
key_df.index[key_df.index.str.startswith('I')]

Index(['Il faut rentrer a Montreal'], dtype='object')

In [28]:
row = key_df.loc['Apprend a tricoter', :]

In [29]:
row

Champlain     False
Depression    False
Shawinigan     True
Chomage        True
Name: Apprend a tricoter, dtype: bool